<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOL Champion Recommend</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="../static/home_style.css">
    <link rel="shortcut icon" href="../static/image/LOL.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
</head>
<body>
    <div class="home-screen">
        <div class="nav">
            <div class="recommend-btn-area">
                <div class="LOL-logo"></div>
                <div class="recommend-start"><p>추천 시작</p></div>
            </div>

            <div class="LOL-title-logo"></div>

            <div class="profile-area">
                <div id="profile-icon"><img src="../static/image/default-profile-icon.jpg"></div>
                <div id="profile-desc">SKT T1 Faker</div>
            </div>
        </div>

        <div class="contents-container">
            <div class="contents-area">
                <div class="contents">
                    <div class="recommend-wrap">
                        <div class="recommend-text">추천 챔피언 목록</div>
                        <div class="recommend-container">
                            <div id="rcm1">
                                <div class="rcm-header">
                                    <div class="rcm-img"><img src="../static/image/tier/challenger.png"></div>
                                    <div class="rcm-text">Best</div>
                                </div>

                                <div class="rcm-champion-img">
                                    <div class="champion-img-container"><img src="../static/image/champions/LeeSin.png"></div>
                                </div>

                                <div class="champion-name">리신</div>
                                <div class="champion-win-rate">승률: 48.89%</div>
                                <div class="champion-pick-rate">픽률: 29.72%</div>
                                <div class="counter-champion-text">카운터 챔피언</div>
                                <div class="counter-champion-img-box">
                                    <div class="counter-champion1">
                                        <img src="../static/image/champions/Poppy.png">
                                    </div>
                                    <div class="counter-champion2">
                                        <img src="../static/image/champions/Nocturne.png">
                                    </div>
                                    <div class="counter-champion3">
                                        <img src="../static/image/champions/Rammus.png">
                                    </div>
                                </div>
                            </div>

                            <div id="rcm2">
                                <div class="rcm-header">
                                    <div class="rcm-img"><img src="../static/image/tier/grandmaster.png"></div>
                                    <div class="rcm-text">Excellent</div>
                                </div>

                                <div class="rcm-champion-img">
                                    <div class="champion-img-container"><img src="../static/image/champions/Elise.png"></div>
                                </div>

                                <div class="champion-name">엘리스</div>
                                <div class="champion-win-rate">승률: 50.80%</div>
                                <div class="champion-pick-rate">픽률: 5.38%</div>
                                <div class="counter-champion-text">카운터 챔피언</div>
                                <div class="counter-champion-img-box">
                                    <div class="counter-champion1">
                                        <img src="../static/image/champions/Karthus.png">
                                    </div>
                                    <div class="counter-champion2">
                                        <img src="../static/image/champions/Ivern.png">
                                    </div>
                                    <div class="counter-champion3">
                                        <img src="../static/image/champions/Fiddlesticks.png">
                                    </div>
                                </div>
                            </div>

                            <div id="rcm3">
                                <div class="rcm-header">
                                    <div class="rcm-img"><img src="../static/image/tier/master.png"></div>
                                    <div class="rcm-text">Great</div>
                                </div>

                                <div class="rcm-champion-img">
                                    <div class="champion-img-container"><img src="../static/image/champions/LeeSin.png"></div>
                                </div>

                                <div class="champion-name">리신</div>
                                <div class="champion-win-rate">승률: 48.89%</div>
                                <div class="champion-pick-rate">픽률: 29.72%</div>
                                <div class="counter-champion-text">카운터 챔피언</div>
                                <div class="counter-champion-img-box">
                                    <div class="counter-champion1">
                                        <img src="../static/image/champions/Poppy.png">
                                    </div>
                                    <div class="counter-champion2">
                                        <img src="../static/image/champions/Nocturne.png">
                                    </div>
                                    <div class="counter-champion3">
                                        <img src="../static/image/champions/Rammus.png">
                                    </div>
                                </div>
                            </div>

                            <div id="rcm4">
                                <div class="rcm-header">
                                    <div class="rcm-img"><img src="../static/image/tier/diamond.png"></div>
                                    <div class="rcm-text">Nice</div>
                                </div>

                                <div class="rcm-champion-img">
                                    <div class="champion-img-container"><img src="../static/image/champions/LeeSin.png"></div>
                                </div>

                                <div class="champion-name">리신</div>
                                <div class="champion-win-rate">승률: 48.89%</div>
                                <div class="champion-pick-rate">픽률: 29.72%</div>
                                <div class="counter-champion-text">카운터 챔피언</div>
                                <div class="counter-champion-img-box">
                                    <div class="counter-champion1">
                                        <img src="../static/image/champions/Poppy.png">
                                    </div>
                                    <div class="counter-champion2">
                                        <img src="../static/image/champions/Nocturne.png">
                                    </div>
                                    <div class="counter-champion3">
                                        <img src="../static/image/champions/Rammus.png">
                                    </div>
                                </div>
                            </div>

                            <div id="rcm5">
                                <div class="rcm-header">
                                    <div class="rcm-img"><img src="../static/image/tier/platinum.png"></div>
                                    <div class="rcm-text">Good</div>
                                </div>

                                <div class="rcm-champion-img">
                                    <div class="champion-img-container"><img src="../static/image/champions/LeeSin.png"></div>
                                </div>

                                <div class="champion-name">리신</div>
                                <div class="champion-win-rate">승률: 48.89%</div>
                                <div class="champion-pick-rate">픽률: 29.72%</div>
                                <div class="counter-champion-text">카운터 챔피언</div>
                                <div class="counter-champion-img-box">
                                    <div class="counter-champion1">
                                        <img src="../static/image/champions/Poppy.png">
                                    </div>
                                    <div class="counter-champion2">
                                        <img src="../static/image/champions/Nocturne.png">
                                    </div>
                                    <div class="counter-champion3">
                                        <img src="../static/image/champions/Rammus.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="video-area">
                        <div class="video-text">공식 시네마틱</div>
                        <video id="player1" autoplay muted controls>
                            <source src="../static/Legends%20Never%20Die.mp4">
                        </video>
                        <video id="player2" controls>
                            <source src="../static/Warriors.mp4">
                        </video>
                        <video id="player3" controls>
                            <source src="../static/RISE.mp4">
                        </video>
                        <video id="player4" controls>
                            <source src="../static/The%20Call.mp4">
                        </video>
                    </div>
                </div>


                <div class="stats-recommend-text">라인 별 추천 Top5</div>
                <div class="stats-recommend-text2">
                    <div id="top-lane">Top</div>
                    <div id="jungle-lane">Jungle</div>
                    <div id="mid-lane">Mid</div>
                    <div id="bottom-lane">Bottom</div>
                    <div id="support-lane">Support</div>
                </div>
                <div class="stats-recommend-container">
                    <div class="stats-box">
                        <div class="stats-rank-wrap">
                            <div class="stats-rank">1st</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Poppy.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">뽀삐</div>
                                <div class="stats-rank-rate">승률: 52.64%　픽률: 3.55%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">2nd</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Tryndamere.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">트린다미어</div>
                                <div class="stats-rank-rate">승률: 50.72%　픽률: 7.05%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">3rd</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Akshan.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">아크샨</div>
                                <div class="stats-rank-rate">승률: 52.22%　픽률: 2.72%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">4th</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Fiora.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">피오라</div>
                                <div class="stats-rank-rate">승률: 50.90%　픽률: 6.59%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">5th</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Darius.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">다리우스</div>
                                <div class="stats-rank-rate">승률: 51.15%　픽률: 5.58%</div>
                            </div>
                        </div>
                    </div>

                    <div class="stats-box">
                        <div class="stats-rank-wrap">
                            <div class="stats-rank">1st</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Poppy.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">뽀삐</div>
                                <div class="stats-rank-rate">승률: 52.64%　픽률: 3.55%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">2nd</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Tryndamere.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">트린다미어</div>
                                <div class="stats-rank-rate">승률: 50.72%　픽률: 7.05%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">3rd</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Akshan.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">아크샨</div>
                                <div class="stats-rank-rate">승률: 52.22%　픽률: 2.72%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">4th</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Fiora.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">피오라</div>
                                <div class="stats-rank-rate">승률: 50.90%　픽률: 6.59%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">5th</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Darius.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">다리우스</div>
                                <div class="stats-rank-rate">승률: 51.15%　픽률: 5.58%</div>
                            </div>
                        </div>
                    </div>
                    <div class="stats-box">
                        <div class="stats-rank-wrap">
                            <div class="stats-rank">1st</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Poppy.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">뽀삐</div>
                                <div class="stats-rank-rate">승률: 52.64%　픽률: 3.55%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">2nd</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Tryndamere.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">트린다미어</div>
                                <div class="stats-rank-rate">승률: 50.72%　픽률: 7.05%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">3rd</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Akshan.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">아크샨</div>
                                <div class="stats-rank-rate">승률: 52.22%　픽률: 2.72%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">4th</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Fiora.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">피오라</div>
                                <div class="stats-rank-rate">승률: 50.90%　픽률: 6.59%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">5th</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Darius.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">다리우스</div>
                                <div class="stats-rank-rate">승률: 51.15%　픽률: 5.58%</div>
                            </div>
                        </div>
                    </div>
                    <div class="stats-box">
                        <div class="stats-rank-wrap">
                            <div class="stats-rank">1st</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Poppy.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">뽀삐</div>
                                <div class="stats-rank-rate">승률: 52.64%　픽률: 3.55%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">2nd</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Tryndamere.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">트린다미어</div>
                                <div class="stats-rank-rate">승률: 50.72%　픽률: 7.05%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">3rd</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Akshan.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">아크샨</div>
                                <div class="stats-rank-rate">승률: 52.22%　픽률: 2.72%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">4th</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Fiora.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">피오라</div>
                                <div class="stats-rank-rate">승률: 50.90%　픽률: 6.59%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">5th</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Darius.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">다리우스</div>
                                <div class="stats-rank-rate">승률: 51.15%　픽률: 5.58%</div>
                            </div>
                        </div>
                    </div>
                    <div class="stats-box">
                        <div class="stats-rank-wrap">
                            <div class="stats-rank">1st</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Poppy.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">뽀삐</div>
                                <div class="stats-rank-rate">승률: 52.64%　픽률: 3.55%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">2nd</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Tryndamere.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">트린다미어</div>
                                <div class="stats-rank-rate">승률: 50.72%　픽률: 7.05%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">3rd</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Akshan.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">아크샨</div>
                                <div class="stats-rank-rate">승률: 52.22%　픽률: 2.72%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">4th</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Fiora.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">피오라</div>
                                <div class="stats-rank-rate">승률: 50.90%　픽률: 6.59%</div>
                            </div>
                        </div>

                        <div class="stats-rank-wrap">
                            <div class="stats-rank">5th</div>
                            <div class="stats-rank-img"><img src="../static/image/champions/Darius.png"></div>
                            <div class="stats-rank-desc">
                                <div class="stats-rank-name">다리우스</div>
                                <div class="stats-rank-rate">승률: 51.15%　픽률: 5.58%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="community">
                <div class="community-nav">
                    <div class="community-text">커뮤니티</div>
                    <div class="community-icons">
                        <span class="material-icons-outlined">person_add_alt</span>
                        <span class="material-icons-outlined">format_list_bulleted</span>
                        <span class="material-icons-outlined">search</span>
                    </div>
                </div>
                <div class="friend-list">
                    <div class="friend-container">
                        <div id="friend-icon"><img src="../static/image/default-profile-icon.jpg"></div>
                        <div id="friend-desc">SKT T1 Gumayusi</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $("#player1").bind("ended", function () {
        $("#player1").css({
            display: 'none'
        });
        $("#player2").css({
            display: 'flex'
        });
        $("#player2").attr("src", "../static/Warriors.mp4");
    });
    $("#player2").bind("ended", function () {
        $("#player2").css({
            display: 'none'
        });
        $("#player3").css({
            display: 'flex'
        });
        $("#Player3").attr("src", "../static/RISE.mp4");
    });
    $("#player3").bind("ended", function () {
        $("#player3").css({
            display: 'none'
        });
        $("#player4").css({
            display: 'flex'
        });
        $("#Player4").attr("src", "../static/The%20Call.mp4");
    });
    $("#player4").bind("ended", function () {
        $("#player4").css({
            display: 'none'
        });
        $("#player1").css({
            display: 'flex'
        });
        $("#Player1").attr("src", "../static/Legends%20Never%20Die.mp4");
    });
</script>

</html>